[Desktop Entry]
Type=Application
Version=1.0
Name=Tickle Monster vs Suits
Exec=ticklemonster
Comment=Who's got tickles?
Icon=ticklemonster
Terminal=false
Categories=Game;ArcadeGame;
